In [1]:
import os
import sys
sys.path.append(os.path.abspath(os.path.join('../scripts')))
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import plotly.express as px

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [7]:
import numpy as np
import pandas as pd
import plots
from helper import Helper

In [18]:
CSV_PATH = "../Data/data.csv"

In [19]:
helper = Helper()

In [22]:
df = helper.read_csv(CSV_PATH)
df.head()

file read as csv

,auction_id,experiment,date,hour,device_make,platform_os,browser,yes,no
0,0008ef63-77a7-448b-bd1e-075f42c55e39,exposed,2020-07-10,8,Generic Smartphone,6,Chrome Mobile,0,0
1,000eabc5-17ce-4137-8efe-44734d914446,exposed,2020-07-07,10,Generic Smartphone,6,Chrome Mobile,0,0
2,0016d14a-ae18-4a02-a204-6ba53b52f2ed,exposed,2020-07-05,2,E5823,6,Chrome Mobile WebView,0,1
3,00187412-2932-4542-a8ef-3633901c98d9,control,2020-07-03,15,Samsung SM-A705FN,6,Facebook,0,0
4,001a7785-d3fe-4e11-a344-c8735acacc2c,control,2020-07-03,15,Generic Smartphone,6,Chrome Mobile,0,0

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8077 entries, 0 to 8076
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   auction_id   8077 non-null   object
 1   experiment   8077 non-null   object
 2   date         8077 non-null   object
 3   hour         8077 non-null   int64
 4   device_make  8077 non-null   object
 5   platform_os  8077 non-null   int64
 6   browser      8077 non-null   object
 7   yes          8077 non-null   int64
 8   no           8077 non-null   int64
dtypes: int64(4), object(5)
memory usage: 568.0+ KB

In [32]:
print(f"percent of missing values in our data is {helper.percent_missing(df)}%")

percent of missing values in our data is 0.0%

In [54]:

contorl_num = df.groupby('experiment').agg({'auction_id': 'count'})['auction_id']['control']
exposed_num  = df.groupby('experiment').agg({'auction_id': 'count'})['auction_id']['exposed']

print(f"the number of entries in control group is {contorl_num}")
print(f"the number of entries in experiment group is {exposed_num}")

the number of entries in control group is 4071
the number of entries in experiment group is 4006

In [55]:
## Cleaning

In [79]:
cleaned_df = df[['auction_id', 'experiment', 'yes', 'no']]
not_ans_df = cleaned_df.query("yes == 0 & no == 0")
not_ans_df

                                auction_id experiment  yes  no
0     0008ef63-77a7-448b-bd1e-075f42c55e39    exposed    0   0
1     000eabc5-17ce-4137-8efe-44734d914446    exposed    0   0
3     00187412-2932-4542-a8ef-3633901c98d9    control    0   0
4     001a7785-d3fe-4e11-a344-c8735acacc2c    control    0   0
5     0027ce48-d3c6-4935-bb12-dfb5d5627857    control    0   0
...                                    ...        ...  ...  ..
8072  ffea24ec-cec1-43fb-b1d1-8f93828c2be2    exposed    0   0
8073  ffea3210-2c3e-426f-a77d-0aa72e73b20f    control    0   0
8074  ffeaa0f1-1d72-4ba9-afb4-314b3b00a7c7    control    0   0
8075  ffeeed62-3f7c-4a6e-8ba7-95d303d40969    exposed    0   0
8076  fffbb9ff-568a-41a5-a0c3-6866592f80d8    control    0   0

[6834 rows x 4 columns]

In [80]:
print(f"the number of users that did not respond is {not_ans_df.shape[0]} ")
print(f"the percentage of users that did not respond is {(not_ans_df.shape[0] / df.shape[0]) * 100}% ")

the number of users that did not respond is 6834
the percentage of users that did not respond is 84.61062275597375%

Around 85 percent of our users did not respond to the questioner. that is a real disadvantage

In [102]:
cleaned_df = cleaned_df.query("not (yes == 0 & no == 0)")
cleaned_df.groupby("experiment").agg({"yes": "sum", "no":"sum"})

cleaned_df_agg = cleaned_df.groupby("experiment").agg({"yes": "sum", "no":"sum"})
cleaned_df_agg['aware'] = [0,0]
cleaned_df_agg['aware']['control'] = cleaned_df_agg['yes']['control']
cleaned_df_agg['aware']['exposed'] = cleaned_df_agg['yes']['exposed']

cleaned_df_agg['total'] = [0, 0]
cleaned_df_agg['total']['control'] = cleaned_df_agg['yes']['control'] +  cleaned_df_agg['no']['control']
cleaned_df_agg['total']['exposed'] = cleaned_df_agg['yes']['exposed'] + cleaned_df_agg['no']['exposed']

test_df = cleaned_df_agg.copy()
test_df

            yes   no  aware  total
experiment
control     264  322    264    586
exposed     308  349    308    657

In [105]:

control_conversion_rate = test_df['aware']['control'] / test_df['total']['control']
exposed_conversion_rate = test_df['aware']['exposed'] / test_df['total']['exposed']

print(f" The conversion rate of control group is {control_conversion_rate}")
print(f" The conversion rate of exposed group is {exposed_conversion_rate}")

 The conversion rate of control group is 0.45051194539249145
 The conversion rate of exposed group is 0.4687975646879756

In [119]:
diff = exposed_conversion_rate - control_conversion_rate

contorl_total = cleaned_df_agg['total']['control']
exposed_total = cleaned_df_agg['total']['exposed']

variance_contorl = np.sqrt(control_conversion_rate * (1 - control_conversion_rate) / contorl_total)
variance_exposed = np.sqrt(exposed_conversion_rate * (1 - exposed_conversion_rate) / exposed_total)



z_score = diff / np.sqrt(variance_contorl**2 + variance_exposed**2)
print (f"the calculated z score is {z_score:0.2f}" )

the calculated z score is 0.65